.navbar-dark li, .navbar-dark a{
    color:#ffffff;
}

.navbar-dark a:hover, .navbar-dark a:active{
    color:#337ab7;
}

.navbar-dark .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.perfilFoto{
    max-height: 150px;
}